/*==========================================================================
* Finaxio Font And Color
========================================================================== */
:root {
    --body-font: 'DM Sans', sans-serif;
    --body-color: #777777;
    --bg-white: #fff;
    --white: #fff;
    --text-white: #fff;
    --primary-color-1: #ec1113;
    --primary-color-2: #0054ff;
    --primary-color-3: #0d9b4d;
    --text-heading-color: #1C1E22;
    --heading-color: #1C1E22;
    --border-color-1: #ededed;
    --border-color-2: #d3d3d3;
    --color-1: #f7f7f7;
    --color-2: #d3d3d3;
    --color-3: #e75f3a;
    --color-4: #1E1F21;
    --color-5: #999999;
    --color-6: #e6542d;
    --color-7: #434950;
    --color-8: #a4acb5;
    --color-9: #7f8489;
    --color-10: #161719;
    --color-11: #1f69ff;
    --color-12: #272d32;
    --color-13: #3a3a3a;
    --color-14: #1d1d1d;
    --thin-bg-2: #f6f4f0;
    --shadow:rgba(0, 0, 0, 0.08);
}